<div class="formula-container">
  <form
    hx-post="/api/calculate"
    hx-target="#molecules-result"
    hx-swap="innerHTML"
    hx-indicator="#loading">
    <div class="input-group">
      <label for="formula">Enter Chemical Formula:</label>
      <input
        type="text"
        id="formula"
        name="formula"
        placeholder="C4H4"
        autocomplete="off"
        style="text-transform: uppercase"
        value="C4H4"
        required />
    </div>
    <button type="submit">
      View Isomers
      <span id="loading" class="htmx-indicator">
        <span class="spinner"></span>
      </span>
    </button>
  </form>
  <div id="molecules-result" class="molecules-result"></div>
</div>
